.footerCtn {
  display: flex;
  flex-direction: column;
  width: 91%;
  height: 3rem;
  background-color: aqua;
  margin: 2rem, 2rem, 0, 2rem;
  padding-top: 0.6rem;
  position: fixed;
  bottom: 2rem;
}

@media print {
  .footerCtn {
    display: none;
  }
}
