.footerCtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
  height: 3rem;
  background-color: aqua;
  padding-top: 0.6rem;
  bottom: 0;
}

@media print {
  .footerCtn {
    display: none;
  }
}
