.shoppingListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    min-height: 84%
  }
  
  .shoppingList {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
  }
  
  .shoppingListItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 8px;
  }
  
  .shoppingListItem span {
    padding: 4px;
  }
  
  h1 {
    text-align: center;
  }

  @media print {
    .button {
      display: none;
    }
  }