.groceryGreenLabel {
  text-align: left;
  font-size: 14px;
  background-color: #90ee90;
  border-radius: 5px;
  width: 20vw;
  height: auto;
  text-align: center;
}

.groceryRedLabel {
  text-align: left;
  font-size: 14px;
  background-color: #fa7b7b;
  border-radius: 5px;
  width: 20vw;
  height: auto;
  text-align: center;
}
