.pageCtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.pageCtn img {
    width: 20%;
    max-width: 150px;
}

.pageCtn p {
    width: 100%;
    max-width:500px ;
    padding-bottom: 10px;
}