.navbar {
  display: flex;
  height: 4rem;
  background-color:var(--primaryBlue);
  color: white;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.newTrip {
  display: flex;
  flex-direction: column;
  align-items: center;
  color:white;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  width: 140px;
  justify-content: space-between;
}
.navbar img {
  height: 40px;
}

.navlinkBtn {
  margin: 5px;
}

.profileCtn{
  cursor: pointer;
}

.profileEntryContainer{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profileEntryImg {
  border-radius: 50%;
  margin-top: 0px!important;
  margin-right: 20px;
}

.profileEntryText {
  color:white;
}

.profileEntryIcon {
  margin-left:10px;
  color:white;
}

@media print {
  .navbar {
    display: none;
  }
}

@media (max-width:500px) {
  .profileEntryText {
    display: none;
  }
  .profileEntryImg {
    margin-right: 0px;
  }
}
