.tripCtn {
  display: flex;
  flex-direction: column;
}

.headerContainer {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid #f3f2f2;
  margin-left: 2rem;
  margin-right: 2rem;
}

.headerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  flex: 1;
}

.headerContent h3 {
  margin: 0px;
  color: #0e1111;
  font-size: 18px;
}

.headerContent h4 {
  margin: 0px;
  font-weight: 400;
  color: #0e1111;
  font-size: 14px;
}
.tripImageContainer {
  margin-right: 10px;
}

.tripImage {
  width: 60px;
  height: auto;
  object-fit: contain;
}

.ctaBtn {
  margin: 10px;
  color: #0e1111;
}
