.searchContainer {
  display: flex;
}

.searchInput {
  flex: 1;
  margin-right: 10px;
}

.reloadLink:hover {
  color: black;
}

.notFoundImg {
  height: 50vh;
  object-fit: contain;
}

.notFound {
  color: black;
  display: flex;
  flex-direction: column;
}
