body, html, #root {
  margin: 0;
  padding: 0;
}

:root {
  max-width: 100vw;
  height: 100vh;
  text-align: center;
  --primaryBlue: #27BFD3FF ;
  --secondaryBlue: #209CD8FF;
  --orange : #EC8C70FF;
  --darkText: #3b4948FF;
  --white: #ffffffff;
  --lightBackground: #E8F3F3FF;
}


.appContainer {
  height: 100%; 
  display: flex;
  flex-direction: column;
  flex: 1;
}

.rsc-header {
  background: var(--primaryBlue)!important;
  color: white!important;
  svg {
    fill: white!important;
  }
}

.routesContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  background-color: #f5f5f5;
}