body, html, #root {
  margin: 0;
  padding: 0;
}

:root {
  max-width: 100vw;
  text-align: center;
  margin-bottom: 4rem;
  --primaryBlue: #27BFD3FF ;
  --secondaryBlue: #209CD8FF;
  --orange : #EC8C70FF;
  --darkText: #3b4948FF;
  --white: #ffffffff;
  --lightBackground: #E8F3F3FF;
}


.appContainer {
  height: 100%; 
  display: flex;
  flex-direction: column;
}

.rsc-header {
  background: aqua!important;
  color: black!important;
  svg {
    fill: black!important;
  }
}

.routesContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}